src/main/webapp/WEB-INF/wsdl/NotificationService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://oscm.org/xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NotificationService" targetNamespace="http://oscm.org/xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://oscm.org/xsd" schemaLocation="NotificationService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="onSubscriptionModification">
    <part element="tns:onSubscriptionModification" name="parameters"/>
  </message>
  <message name="onSubscriptionModificationResponse">
    <part element="tns:onSubscriptionModificationResponse" name="parameters"/>
  </message>
  <message name="onSubscriptionTermination">
    <part element="tns:onSubscriptionTermination" name="parameters"/>
  </message>
  <message name="onSubscriptionTerminationResponse">
    <part element="tns:onSubscriptionTerminationResponse" name="parameters"/>
  </message>
  <message name="onRegisterUserInOwnOrganization">
    <part element="tns:onRegisterUserInOwnOrganization" name="parameters"/>
  </message>
  <message name="onRegisterUserInOwnOrganizationResponse">
    <part element="tns:onRegisterUserInOwnOrganizationResponse" name="parameters"/>
  </message>
  <message name="onCancelAction">
    <part element="tns:onCancelAction" name="parameters"/>
  </message>
  <message name="onCancelActionResponse">
    <part element="tns:onCancelActionResponse" name="parameters"/>
  </message>
  <message name="onAddSupplier">
    <part element="tns:onAddSupplier" name="parameters"/>
  </message>
  <message name="onAddSupplierResponse">
    <part element="tns:onAddSupplierResponse" name="parameters"/>
  </message>
  <message name="onModifySubscription">
    <part element="tns:onModifySubscription" name="parameters"/>
  </message>
  <message name="onModifySubscriptionResponse">
    <part element="tns:onModifySubscriptionResponse" name="parameters"/>
  </message>
  <message name="onRegisterCustomer">
    <part element="tns:onRegisterCustomer" name="parameters"/>
  </message>
  <message name="onRegisterCustomerResponse">
    <part element="tns:onRegisterCustomerResponse" name="parameters"/>
  </message>
  <message name="onRemoveSupplier">
    <part element="tns:onRemoveSupplier" name="parameters"/>
  </message>
  <message name="onRemoveSupplierResponse">
    <part element="tns:onRemoveSupplierResponse" name="parameters"/>
  </message>
  <message name="onSaveDefaultPaymentConfiguration">
    <part element="tns:onSaveDefaultPaymentConfiguration" name="parameters"/>
  </message>
  <message name="onSaveDefaultPaymentConfigurationResponse">
    <part element="tns:onSaveDefaultPaymentConfigurationResponse" name="parameters"/>
  </message>
  <message name="onSaveCustomerPaymentConfiguration">
    <part element="tns:onSaveCustomerPaymentConfiguration" name="parameters"/>
  </message>
  <message name="onSaveCustomerPaymentConfigurationResponse">
    <part element="tns:onSaveCustomerPaymentConfigurationResponse" name="parameters"/>
  </message>
  <message name="onSubscribeToProduct">
    <part element="tns:onSubscribeToProduct" name="parameters"/>
  </message>
  <message name="onSubscribeToProductResponse">
    <part element="tns:onSubscribeToProductResponse" name="parameters"/>
  </message>
  <message name="onUnsubscribeFromProduct">
    <part element="tns:onUnsubscribeFromProduct" name="parameters"/>
  </message>
  <message name="onUnsubscribeFromProductResponse">
    <part element="tns:onUnsubscribeFromProductResponse" name="parameters"/>
  </message>
  <message name="onUpgradeSubscription">
    <part element="tns:onUpgradeSubscription" name="parameters"/>
  </message>
  <message name="onUpgradeSubscriptionResponse">
    <part element="tns:onUpgradeSubscriptionResponse" name="parameters"/>
  </message>
  <message name="onSaveServicePaymentConfiguration">
    <part element="tns:onSaveServicePaymentConfiguration" name="parameters"/>
  </message>
  <message name="onSaveServicePaymentConfigurationResponse">
    <part element="tns:onSaveServicePaymentConfigurationResponse" name="parameters"/>
  </message>
  <message name="onSaveServiceDefaultPaymentConfiguration">
    <part element="tns:onSaveServiceDefaultPaymentConfiguration" name="parameters"/>
  </message>
  <message name="onSaveServiceDefaultPaymentConfigurationResponse">
    <part element="tns:onSaveServiceDefaultPaymentConfigurationResponse" name="parameters"/>
  </message>
  <message name="onSubscriptionCreation">
    <part element="tns:onSubscriptionCreation" name="parameters"/>
  </message>
  <message name="onSubscriptionCreationResponse">
    <part element="tns:onSubscriptionCreationResponse" name="parameters"/>
  </message>
  <message name="billingPerformed">
    <part element="tns:billingPerformed" name="parameters"/>
  </message>
  <message name="billingPerformedResponse">
    <part element="tns:billingPerformedResponse" name="parameters"/>
  </message>
  <message name="onActivateProduct">
    <part element="tns:onActivateProduct" name="parameters"/>
  </message>
  <message name="onActivateProductResponse">
    <part element="tns:onActivateProductResponse" name="parameters"/>
  </message>
  <message name="onAddRevokeUser">
    <part element="tns:onAddRevokeUser" name="parameters"/>
  </message>
  <message name="onAddRevokeUserResponse">
    <part element="tns:onAddRevokeUserResponse" name="parameters"/>
  </message>
  <message name="onDeactivateProduct">
    <part element="tns:onDeactivateProduct" name="parameters"/>
  </message>
  <message name="onDeactivateProductResponse">
    <part element="tns:onDeactivateProductResponse" name="parameters"/>
  </message>
  <portType name="NotificationService">
    <operation name="onSubscriptionModification">
      <input message="tns:onSubscriptionModification" wsam:Action="http://oscm.org/xsd/NotificationService/onSubscriptionModificationRequest"/>
      <output message="tns:onSubscriptionModificationResponse" wsam:Action="http://oscm.org/xsd/NotificationService/onSubscriptionModificationResponse"/>
    </operation>
    <operation name="onSubscriptionTermination">
      <input message="tns:onSubscriptionTermination" wsam:Action="http://oscm.org/xsd/NotificationService/onSubscriptionTerminationRequest"/>
      <output message="tns:onSubscriptionTerminationResponse" wsam:Action="http://oscm.org/xsd/NotificationService/onSubscriptionTerminationResponse"/>
    </operation>
    <operation name="onRegisterUserInOwnOrganization">
      <input message="tns:onRegisterUserInOwnOrganization" wsam:Action="http://oscm.org/xsd/NotificationService/onRegisterUserInOwnOrganizationRequest"/>
      <output message="tns:onRegisterUserInOwnOrganizationResponse" wsam:Action="http://oscm.org/xsd/NotificationService/onRegisterUserInOwnOrganizationResponse"/>
    </operation>
    <operation name="onCancelAction">
      <input message="tns:onCancelAction" wsam:Action="http://oscm.org/xsd/NotificationService/onCancelActionRequest"/>
      <output message="tns:onCancelActionResponse" wsam:Action="http://oscm.org/xsd/NotificationService/onCancelActionResponse"/>
    </operation>
    <operation name="onAddSupplier">
      <input message="tns:onAddSupplier" wsam:Action="http://oscm.org/xsd/NotificationService/onAddSupplierRequest"/>
      <output message="tns:onAddSupplierResponse" wsam:Action="http://oscm.org/xsd/NotificationService/onAddSupplierResponse"/>
    </operation>
    <operation name="onModifySubscription">
      <input message="tns:onModifySubscription" wsam:Action="http://oscm.org/xsd/NotificationService/onModifySubscriptionRequest"/>
      <output message="tns:onModifySubscriptionResponse" wsam:Action="http://oscm.org/xsd/NotificationService/onModifySubscriptionResponse"/>
    </operation>
    <operation name="onRegisterCustomer">
      <input message="tns:onRegisterCustomer" wsam:Action="http://oscm.org/xsd/NotificationService/onRegisterCustomerRequest"/>
      <output message="tns:onRegisterCustomerResponse" wsam:Action="http://oscm.org/xsd/NotificationService/onRegisterCustomerResponse"/>
    </operation>
    <operation name="onRemoveSupplier">
      <input message="tns:onRemoveSupplier" wsam:Action="http://oscm.org/xsd/NotificationService/onRemoveSupplierRequest"/>
      <output message="tns:onRemoveSupplierResponse" wsam:Action="http://oscm.org/xsd/NotificationService/onRemoveSupplierResponse"/>
    </operation>
    <operation name="onSaveDefaultPaymentConfiguration">
      <input message="tns:onSaveDefaultPaymentConfiguration" wsam:Action="http://oscm.org/xsd/NotificationService/onSaveDefaultPaymentConfigurationRequest"/>
      <output message="tns:onSaveDefaultPaymentConfigurationResponse" wsam:Action="http://oscm.org/xsd/NotificationService/onSaveDefaultPaymentConfigurationResponse"/>
    </operation>
    <operation name="onSaveCustomerPaymentConfiguration">
      <input message="tns:onSaveCustomerPaymentConfiguration" wsam:Action="http://oscm.org/xsd/NotificationService/onSaveCustomerPaymentConfigurationRequest"/>
      <output message="tns:onSaveCustomerPaymentConfigurationResponse" wsam:Action="http://oscm.org/xsd/NotificationService/onSaveCustomerPaymentConfigurationResponse"/>
    </operation>
    <operation name="onSubscribeToProduct">
      <input message="tns:onSubscribeToProduct" wsam:Action="http://oscm.org/xsd/NotificationService/onSubscribeToProductRequest"/>
      <output message="tns:onSubscribeToProductResponse" wsam:Action="http://oscm.org/xsd/NotificationService/onSubscribeToProductResponse"/>
    </operation>
    <operation name="onUnsubscribeFromProduct">
      <input message="tns:onUnsubscribeFromProduct" wsam:Action="http://oscm.org/xsd/NotificationService/onUnsubscribeFromProductRequest"/>
      <output message="tns:onUnsubscribeFromProductResponse" wsam:Action="http://oscm.org/xsd/NotificationService/onUnsubscribeFromProductResponse"/>
    </operation>
    <operation name="onUpgradeSubscription">
      <input message="tns:onUpgradeSubscription" wsam:Action="http://oscm.org/xsd/NotificationService/onUpgradeSubscriptionRequest"/>
      <output message="tns:onUpgradeSubscriptionResponse" wsam:Action="http://oscm.org/xsd/NotificationService/onUpgradeSubscriptionResponse"/>
    </operation>
    <operation name="onSaveServicePaymentConfiguration">
      <input message="tns:onSaveServicePaymentConfiguration" wsam:Action="http://oscm.org/xsd/NotificationService/onSaveServicePaymentConfigurationRequest"/>
      <output message="tns:onSaveServicePaymentConfigurationResponse" wsam:Action="http://oscm.org/xsd/NotificationService/onSaveServicePaymentConfigurationResponse"/>
    </operation>
    <operation name="onSaveServiceDefaultPaymentConfiguration">
      <input message="tns:onSaveServiceDefaultPaymentConfiguration" wsam:Action="http://oscm.org/xsd/NotificationService/onSaveServiceDefaultPaymentConfigurationRequest"/>
      <output message="tns:onSaveServiceDefaultPaymentConfigurationResponse" wsam:Action="http://oscm.org/xsd/NotificationService/onSaveServiceDefaultPaymentConfigurationResponse"/>
    </operation>
    <operation name="onSubscriptionCreation">
      <input message="tns:onSubscriptionCreation" wsam:Action="http://oscm.org/xsd/NotificationService/onSubscriptionCreationRequest"/>
      <output message="tns:onSubscriptionCreationResponse" wsam:Action="http://oscm.org/xsd/NotificationService/onSubscriptionCreationResponse"/>
    </operation>
    <operation name="billingPerformed">
      <input message="tns:billingPerformed" wsam:Action="http://oscm.org/xsd/NotificationService/billingPerformedRequest"/>
      <output message="tns:billingPerformedResponse" wsam:Action="http://oscm.org/xsd/NotificationService/billingPerformedResponse"/>
    </operation>
    <operation name="onActivateProduct">
      <input message="tns:onActivateProduct" wsam:Action="http://oscm.org/xsd/NotificationService/onActivateProductRequest"/>
      <output message="tns:onActivateProductResponse" wsam:Action="http://oscm.org/xsd/NotificationService/onActivateProductResponse"/>
    </operation>
    <operation name="onAddRevokeUser">
      <input message="tns:onAddRevokeUser" wsam:Action="http://oscm.org/xsd/NotificationService/onAddRevokeUserRequest"/>
      <output message="tns:onAddRevokeUserResponse" wsam:Action="http://oscm.org/xsd/NotificationService/onAddRevokeUserResponse"/>
    </operation>
    <operation name="onDeactivateProduct">
      <input message="tns:onDeactivateProduct" wsam:Action="http://oscm.org/xsd/NotificationService/onDeactivateProductRequest"/>
      <output message="tns:onDeactivateProductResponse" wsam:Action="http://oscm.org/xsd/NotificationService/onDeactivateProductResponse"/>
    </operation>
  </portType>
  <binding name="StubServicePortBinding" type="tns:NotificationService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="onSubscriptionModification">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="onSubscriptionTermination">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="onRegisterUserInOwnOrganization">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="onCancelAction">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="onAddSupplier">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="onModifySubscription">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="onRegisterCustomer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="onRemoveSupplier">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="onSaveDefaultPaymentConfiguration">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="onSaveCustomerPaymentConfiguration">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="onSubscribeToProduct">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="onUnsubscribeFromProduct">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="onUpgradeSubscription">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="onSaveServicePaymentConfiguration">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="onSaveServiceDefaultPaymentConfiguration">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="onSubscriptionCreation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="billingPerformed">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="onActivateProduct">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="onAddRevokeUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="onDeactivateProduct">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="NotificationService">
    <port binding="tns:StubServicePortBinding" name="StubServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
  <documentation>v1.9</documentation>
</definitions>
